@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
  font-family: 'Kanit', sans-serif;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 90vw;
}

h1 {
  color: #3b2a2a;
  font-size: 2.5rem;
  margin: 0;
  font-weight: 800;
  line-height: 1.2;
}

.btn {

  background-color: transparent;
  color: #3b2a2a;
  border: 4px solid #3b2a2a;
  padding: 10px 30px;
  font-size: 1.5rem;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 800;
  transition: all 0.2s ease-in-out;
  font-family: inherit;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.btn:hover{
  transform: scale(1.05);
  background-color: #d66868;
  color: white;
  border-color: #e07a7a
}

.btn-pink{
  background-color: #e07a7a;
  color: white;
  border: 4px solid #e07a7a;
}

.btn-pink:hover {
  background-color: #d66868;
  border-color: #d66868;
}
